<script>
  import TemplateLayout from "../template_layout.vue";
  import {Head} from "@inertiajs/vue3";
  
  export default{
    props: [
      "template_layout",
      "editar_link"
    ],
    components: {
      TemplateLayout,
      Head
    },
    data(){
      return{
        /* Propriedades obtidas dos controllers precisam ser recolocadas para prevenir o cache do inertia */
        vue_template_layout: this.template_layout,
        vue_editar_link: this.editar_link,
        
        /* Propriedades novas e seus valores iniciais */
        endereco_do_arquivo_css: "/css/" + this.template_layout.visual_escolhido + "/editar_link.css",
        mensagem_de_espera: "",
        identificador: this.editar_link.link.identificador
      }
    },
    methods: {
      remover_foco_do_botao(evento){
        evento.currentTarget.blur();
      },
      enviar_formulario_editar_link(evento){
        this.remover_foco_do_botao(evento);
        
        this.mensagem_de_espera = "Aguarde...";
        this.vue_editar_link.mensagem_de_sucesso = "";
        this.vue_editar_link.mensagem_de_falha = "";
        
        const id_do_link = this.vue_editar_link.link.id_do_link;
        const identificador = this.identificador;
        
        axios.put("../api/editar_link/servico_put_editar_link", {
          id_do_link: id_do_link,
          identificador: identificador
        }).then(response => {
          this.mensagem_de_espera = "";
          this.vue_editar_link.mensagem_de_sucesso = response.data.mensagem_de_sucesso;
          this.vue_editar_link.mensagem_de_falha = response.data.mensagem_de_falha;
          if(typeof this.vue_editar_link.mensagem_de_falha === "undefined"){
            this.vue_editar_link.link.id_do_link = response.data.link.id_do_link;
            this.vue_editar_link.link.url_original = response.data.link.url_original;
            this.vue_editar_link.link.url_curta = response.data.link.url_curta;
            this.vue_editar_link.link.contador_de_acessos = response.data.link.contador_de_acessos;
            this.vue_editar_link.link.identificador = response.data.link.identificador;
          }
        });
      }
    }
  }
</script>

<template>
  <TemplateLayout :template_layout="vue_template_layout">
    <template #conteudo>
      <div id="div_pagina_editar_link">
        <h2 id="h2_titulo_da_pagina">
          <span>Editar Link</span>
        </h2>
        <div v-if="vue_editar_link.link.id_valido" id="div_informacoes_do_link">
          <div id="div_url_original">
            <span>URL original: </span>
            <a id="link_url_original" :href="vue_editar_link.link.url_original" 
               target="_blank">{{vue_editar_link.link.url_original}}</a>
          </div>
          <div id="div_url_curta">
            <span>URL curta: </span>
            <a id="link_url_curta" :href="vue_editar_link.link.url_curta" 
               target="_blank">{{vue_editar_link.link.url_curta}}</a>
          </div>
          <div id="div_identificador">
            <span>Identificador: </span>
            <span id="span_identificador">{{vue_editar_link.link.identificador}}</span>
          </div>
          <div id="div_contador_de_acessos">
            <span>Contador de acessos: </span>
            <span id="span_contador_de_acessos">{{vue_editar_link.link.contador_de_acessos}}</span>
          </div>
        </div>
        <div id="div_mensagens" :class="vue_editar_link.link.id_valido ? '' : 'estilo_da_div_mensagens_quando_nao_ha_link'">
          <div v-if="mensagem_de_espera" id="div_mensagem_de_espera">
            <span id="span_mensagem_de_espera">{{mensagem_de_espera}}</span>
          </div>
          <div v-if="vue_editar_link.mensagem_de_sucesso" id="div_mensagem_de_sucesso">
            <span id="span_mensagem_de_sucesso">{{vue_editar_link.mensagem_de_sucesso}}</span>
          </div>
          <div v-if="vue_editar_link.mensagem_de_falha" id="div_mensagem_de_falha">
            <span id="span_mensagem_de_falha">{{vue_editar_link.mensagem_de_falha}}</span>
          </div>
        </div>
        <div v-if="vue_editar_link.link.id_valido" id="div_formulario_editar_link">
          <div id="div_editar_identificador">
            <div id="div_label_identificador">
              <label id="label_identificador" for="campo_identificador">
                <span>Identificador</span>
              </label>
            </div>
            <div id="div_campo_identificador_mais_botao_editar">
              <input type="hidden" id="campo_id_do_link" name="id_do_link" :value="vue_editar_link.link.id_do_link"/>
              <input type="text" id="campo_identificador" name="identificador" autocomplete="off" 
                     v-model="identificador"/>
              <input type="submit" id="botao_editar" value="Editar" @mouseleave="remover_foco_do_botao" 
                     @click.prevent="enviar_formulario_editar_link"/>
            </div>
          </div>
        </div>
      </div>
    </template>
  </TemplateLayout>
  <Head>
    <title>Editar Link</title>
    <link :href="endereco_do_arquivo_css" type="text/css" rel="stylesheet"/>
  </Head>
</template>
