<script>
  import TemplateLayout from "../template_layout.vue";
  import {Head} from "@inertiajs/vue3";
  
  export default{
    props: [
      "template_layout",
      "excluir_link"
    ],
    components: {
      TemplateLayout,
      Head
    },
    data(){
      return{
        /* Propriedades obtidas dos controllers precisam ser recolocadas para prevenir o cache do inertia */
        vue_template_layout: this.template_layout,
        vue_excluir_link: this.excluir_link,
        
        /* Propriedades novas e seus valores iniciais */
        endereco_do_arquivo_css: "/css/" + this.template_layout.visual_escolhido + "/excluir_link.css",
        mensagem_de_espera: ""
      }
    },
    methods: {
      remover_foco_do_botao(evento){
        evento.currentTarget.blur();
      },
      enviar_formulario_excluir_link(evento){
        this.remover_foco_do_botao(evento);
        
        this.mensagem_de_espera = "Aguarde...";
        this.vue_excluir_link.mensagem_de_sucesso = "";
        this.vue_excluir_link.mensagem_de_falha = "";
        
        const id_do_link = this.vue_excluir_link.link.id_do_link;
        
        axios.delete("../api/excluir_link/servico_delete_excluir_link", {
          data: {
            id_do_link: id_do_link,
          }
        }).then(response => {
          this.mensagem_de_espera = "";
          this.vue_excluir_link.mensagem_de_sucesso = response.data.mensagem_de_sucesso;
          this.vue_excluir_link.mensagem_de_falha = response.data.mensagem_de_falha;
        });
      }
    }
  }
</script>

<template>
  <TemplateLayout :template_layout="vue_template_layout">
    <template #conteudo>
      <div id="div_pagina_excluir_link">
        <h2 id="h2_titulo_da_pagina">
          <span>Excluir Link</span>
        </h2>
        <div v-if="vue_excluir_link.link.id_valido" id="div_informacoes_do_link">
          <div id="div_url_original">
            <span>URL original: </span>
            <a id="link_url_original" :href="vue_excluir_link.link.url_original" 
               target="_blank">{{vue_excluir_link.link.url_original}}</a>
          </div>
          <div id="div_url_curta">
            <span>URL curta: </span>
            <a id="link_url_curta" :href="vue_excluir_link.link.url_curta" 
               target="_blank">{{vue_excluir_link.link.url_curta}}</a>
          </div>
          <div id="div_identificador">
            <span>Identificador: </span>
            <span id="span_identificador">{{vue_excluir_link.link.identificador}}</span>
          </div>
          <div id="div_contador_de_acessos">
            <span>Contador de acessos: </span>
            <span id="span_contador_de_acessos">{{vue_excluir_link.link.contador_de_acessos}}</span>
          </div>
        </div>
        <div id="div_mensagens" :class="vue_excluir_link.link.id_valido ? '' : 'estilo_da_div_mensagens_quando_nao_ha_link'">
          <div v-if="mensagem_de_espera" id="div_mensagem_de_espera">
            <span id="span_mensagem_de_espera">{{mensagem_de_espera}}</span>
          </div>
          <div v-if="vue_excluir_link.mensagem_de_sucesso" id="div_mensagem_de_sucesso">
            <span id="span_mensagem_de_sucesso">{{vue_excluir_link.mensagem_de_sucesso}}</span>
          </div>
          <div v-if="vue_excluir_link.mensagem_de_falha" id="div_mensagem_de_falha">
            <span id="span_mensagem_de_falha">{{vue_excluir_link.mensagem_de_falha}}</span>
          </div>
        </div>
        <div v-if="vue_excluir_link.link.id_valido" id="div_formulario_excluir_link">
          <div id="div_pergunta_do_formulario_excluir_link">
            <span>Tem certeza que deseja excluir o link? Se sim, clique no botão Excluir.</span>
          </div>
          <div id="div_botao_excluir">
            <input type="hidden" id="campo_id_do_link" name="id_do_link" :value="vue_excluir_link.link.id_do_link"/>
            <input type="submit" id="botao_excluir" value="Excluir" @mouseleave="remover_foco_do_botao" 
                   @click.prevent="enviar_formulario_excluir_link"/>
          </div>
        </div>
      </div>
    </template>
  </TemplateLayout>
  <Head>
    <title>Excluir Link</title>
    <link :href="endereco_do_arquivo_css" type="text/css" rel="stylesheet"/>
  </Head>
</template>
