<script>
  import TemplateLayout from "../template_layout.vue";
  import {Head} from "@inertiajs/vue3";
  
  export default{
    props: [
      "template_layout",
      "encurtador_de_links",
    ],
    components: {
      TemplateLayout,
      Head
    },
    data(){
      return{
        /* Propriedades obtidas dos controllers precisam ser recolocadas para prevenir o cache do inertia */
        vue_template_layout: this.template_layout,
        vue_encurtador_de_links: this.encurtador_de_links,
        
        /* Propriedades novas e seus valores iniciais */
        endereco_do_arquivo_css: "/css/" + this.template_layout.visual_escolhido + "/encurtador_de_links.css",
        url_original: "",
        identificador: "",
        mensagem_de_espera: "",
        mensagem_de_sucesso: "",
        mensagem_de_falha: "",
        url_curta: ""
      }
    },
    methods: {
      enviar_formulario_encurtar_link(evento){
        evento.currentTarget.blur();
        
        this.mensagem_de_espera = "Aguarde...";
        this.mensagem_de_sucesso = "";
        this.mensagem_de_falha = "";
        this.url_curta = "";
        
        axios.post("api/encurtador_de_links/servico_post_encurtar_url", {
          url_original: this.url_original,
          identificador: this.identificador
        }).then(response => {
          this.mensagem_de_espera = "";
          this.mensagem_de_sucesso = response.data.mensagem_de_sucesso;
          this.mensagem_de_falha = response.data.mensagem_de_falha;
          this.url_curta = response.data.url_curta;
        });
      },
      remover_foco_do_botao(evento){
        evento.currentTarget.blur();
      },
      copiar_url(){
        var campo_temporario = document.createElement("input");
        campo_temporario.setAttribute("type", "text");
        campo_temporario.setAttribute("value", this.url_curta);
        
        const link_url_curta = this.$refs.referencia_para_link_url_curta;
        link_url_curta.parentNode.appendChild(campo_temporario);
        
        campo_temporario.focus();
        
        let posicao_do_inicio_do_texto = campo_temporario.selectionStart;
        if(typeof posicao_do_inicio_do_texto !== "number"){
          /* Se o navegador não suportar, cancela. */
          campo_temporario.remove();
          return;
        }
        let posicao_do_final_do_texto = this.url_curta.length;
        
        campo_temporario.setSelectionRange(posicao_do_inicio_do_texto, posicao_do_final_do_texto);
        document.execCommand("copy");
        
        campo_temporario.remove();
      },
      acessar_url(){
        const link_url_curta = this.$refs.referencia_para_link_url_curta;
        link_url_curta.click();
      }
    }
  }
</script>

<template>
  <TemplateLayout :template_layout="vue_template_layout">
    <template #conteudo>
      <div id="div_pagina_encurtador_de_links">
        <h2 id="h2_titulo_da_pagina">
          <span>Encurtador de Links</span>
        </h2>
        <div id="div_formulario_encurtar_link">
          <div id="div_url_original">
            <div id="div_instrucao_do_campo_url_original">
              <span id="span_instrucao_do_campo_url_original">Digite o endereço do link (url) no campo abaixo e depois clique no botão encurtar.</span>
            </div>
            <div id="div_campo_url_original">
              <input v-model="url_original" type="text" id="campo_url_original" placeholder="URL"/>
            </div>
          </div>
          <div id="div_identificador">
            <div id="div_instrucao_do_campo_identificador">
              <span id="span_instrucao_do_campo_identificador">Você pode escolher um identificador se quiser.</span>
            </div>
            <div id="div_campo_identificador">
              <input v-model="identificador" type="text" id="campo_identificador" placeholder="IDENTIFICADOR"/>
            </div>
          </div>
          <div v-if="mensagem_de_espera" id="div_mensagem_de_espera">
            <span id="span_mensagem_de_espera">{{mensagem_de_espera}}</span>
          </div>
          <div v-if="mensagem_de_sucesso" id="div_mensagem_de_sucesso">
            <span id="span_mensagem_de_sucesso">{{mensagem_de_sucesso}}</span>
          </div>
          <div v-if="mensagem_de_falha" id="div_mensagem_de_falha">
            <span id="span_mensagem_de_falha">{{mensagem_de_falha}}</span>
          </div>
          <div id="div_botao_encurtar">
            <button type="button" id="botao_encurtar" title="Encurtar" @click="enviar_formulario_encurtar_link" 
                    @mouseleave="remover_foco_do_botao">Encurtar</button>
          </div>
        </div>
        <div id="div_resultado">
          <h4 id="h4_titulo_do_resultado">
            <span v-if="url_curta">Aqui está:</span>
            <span v-else="url_curta">O resultado irá aparecer aqui.</span>
          </h4>
          <div v-if="url_curta" id="div_url_curta">
            <a id="link_url_curta" :href="url_curta" :title="url_curta" target="_blank" 
               ref="referencia_para_link_url_curta">{{url_curta}}</a>
          </div>
          <div v-if="url_curta" id="div_botoes_da_url_curta">
            <span id="span_botao_copiar" title="Copiar" @click="copiar_url"></span>
            <span id="span_botao_acessar" title="Acessar" @click="acessar_url"></span>
          </div>
        </div>
      </div>
    </template>
  </TemplateLayout>
  <Head>
    <title>Encurtador de Links</title>
    <link :href="endereco_do_arquivo_css" type="text/css" rel="stylesheet"/>
  </Head>
</template>
