#div_pagina_encurtador_de_links{
  margin-right: auto;
  margin-left: auto;
  padding-right: 10px;
  padding-left: 10px;
  width: calc(900px - 10px - 10px);
  max-width: calc(100% - 10px - 10px);
}
@media(max-width: 640px){
  #div_pagina_encurtador_de_links{
    padding-right: 0px;
    padding-left: 0px;
    max-width: 100%;
  }
}
#h2_titulo_da_pagina{
  color: #4B4B4B;
  text-align: center;
}
@media(max-width: 640px){
  #h2_titulo_da_pagina{
    font-size: 18pt;
  }
}
#div_formulario_encurtar_link{
  margin-top: 50px;
}
@media(max-width: 640px){
  #div_formulario_encurtar_link{
    margin-top: 25px;
  }
}
#div_campo_url_original{
  margin-top: 4px;
}
#campo_url_original{
  border-radius: 8px;
  width: calc(100% - 2px - 10px);
}
#div_identificador{
  position: relative;
  margin-top: 8px;
  min-height: 28px;
  overflow: hidden;
}
@media(max-width: 640px){
  #div_identificador{
    margin-top: 12px;
  }
}
#div_instrucao_do_campo_identificador{
  position: absolute;
  left: calc(212px + 6px);
  float: right;
  padding-top: 3px;
}
@media(max-width: 725px){
  #div_instrucao_do_campo_identificador{
    position: static;
    float: none;
  }
}
#div_campo_identificador{
  position: absolute;
  left: 0px;
  float: right;
}
@media(max-width: 725px){
  #div_campo_identificador{
    position: static;
    float: none;
    margin-top: 4px;
  }
}
#campo_identificador{
  border-radius: 8px;
}
#div_mensagem_de_espera{
  margin-top: 25px;
}
#div_mensagem_de_sucesso{
  margin-top: 25px;
}
#span_mensagem_de_sucesso{
  color: #008000;
}
#div_mensagem_de_falha{
  margin-top: 25px;
}
#span_mensagem_de_falha{
  color: #A00000;
}
#div_botao_encurtar{
  margin-top: 35px;
  text-align: center;
}
@media(max-width: 640px){
  #div_botao_encurtar{
    margin-top: 25px;
  }
}
#div_resultado{
  margin-top: 35px;
  border: 2px solid #60B860;
  border-radius: 8px;
  min-height: calc(72px - 4px);
}
@media(max-width: 640px){
  #div_resultado{
    margin-top: 25px;
  }
}
#h4_titulo_do_resultado{
  padding: 5px 10px;
  background-color: #60B860;
  color: #FFF;
  font-size: 12pt;
}
#div_url_curta{
  display: inline-block;
  padding: 10px;
  min-width: calc(100% - 20px - 20px - 16px - 6px - 16px);
  max-width: calc(100% - 20px - 20px - 16px - 6px - 16px);
  vertical-align: top;
  word-wrap: break-word;
  word-break: break-all;
}
#div_botoes_da_url_curta{
  display: inline-block;
  padding: 10px;
  vertical-align: top;
}
#span_botao_copiar{
  display: inline-block;
  margin-top: -4px;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  background-image: url("../../imagens/icones/bootstrap/files.svg");
  cursor: pointer;
}
#span_botao_acessar{
  display: inline-block;
  margin-top: -4px;
  margin-left: 6px;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  background-image: url("../../imagens/icones/bootstrap/box-arrow-up-right.svg");
  cursor: pointer;
}
