#div_pagina_excluir_link{
  margin-right: auto;
  margin-left: auto;
  padding-right: 10px;
  padding-left: 10px;
  width: calc(900px - 10px - 10px);
  max-width: calc(100% - 10px - 10px);
}
@media(max-width: 640px){
  #div_pagina_excluir_link{
    padding-right: 0px;
    padding-left: 0px;
    max-width: 100%;
  }
}
#h2_titulo_da_pagina{
  color: #4B4B4B;
  text-align: center;
}
@media(max-width: 640px){
  #h2_titulo_da_pagina{
    font-size: 18pt;
  }
}

#div_informacoes_do_link{
  margin-top: 35px;
  border: 2px solid #D8A8A8;
  padding: 10px;
}
#div_url_original{
  max-height: 170px;
  word-wrap: break-word;
  word-break: break-all;
  overflow: auto;
}
#div_url_curta{
  margin-top: 20px;
  word-wrap: break-word;
  word-break: break-all;
}
#div_identificador{
  margin-top: 20px;
  word-wrap: break-word;
  word-break: break-all;
}
#div_contador_de_acessos{
  margin-top: 20px;
}

.estilo_da_div_mensagens_quando_nao_ha_link{
  margin-top: 35px;
  border-top: 2px solid #D8A8A8;
  border-bottom: 2px solid #D8A8A8;
}
.estilo_da_div_mensagens_quando_nao_ha_link>div{
  padding-bottom: 10px !important;
}
#div_mensagem_de_espera{
  border-right: 2px solid #D8A8A8;
  border-left: 2px solid #D8A8A8;
  padding: 10px 10px 0px 10px;
  text-align: center;
}
#div_mensagem_de_sucesso{
  border-right: 2px solid #D8A8A8;
  border-left: 2px solid #D8A8A8;
  padding: 10px 10px 0px 10px;
  text-align: center;
}
#span_mensagem_de_sucesso{
  color: #008000;
}
#div_mensagem_de_falha{
  border-right: 2px solid #D8A8A8;
  border-left: 2px solid #D8A8A8;
  padding: 10px 10px 0px 10px;
  text-align: center;
}
#span_mensagem_de_falha{
  color: #A00000;
}

#div_formulario_excluir_link{
  border-right: 2px solid #D8A8A8;
  border-bottom: 2px solid #D8A8A8;
  border-left: 2px solid #D8A8A8;
  padding: 10px;
}
#div_botao_excluir{
  margin-top: 4px;
}
#botao_excluir{
  display: inline-block;
  vertical-align: top;
}
