#div_pagina_lista_de_links{
  margin-right: auto;
  margin-left: auto;
  padding-right: 10px;
  padding-left: 10px;
  width: calc(900px - 10px - 10px);
  max-width: calc(100% - 10px - 10px);
}
@media(max-width: 640px){
  #div_pagina_lista_de_links{
    padding-right: 0px;
    padding-left: 0px;
    max-width: 100%;
  }
}
#h2_titulo_da_pagina{
  color: #4B4B4B;
  text-align: center;
}
@media(max-width: 640px){
  #h2_titulo_da_pagina{
    font-size: 18pt;
  }
}

/* Formulário de filtros */
#div_formulario_de_filtros{
  margin-top: 35px;
  overflow: hidden;
}
#h3_titulo_dos_filtros{
  font-size: 15pt;
}
#div_filtro_url_original{
  margin-top: 10px;
}
#campo_filtro_url_original{
  border-radius: 8px;
  width: calc(100% - 2px - 10px);
}
#div_filtro_url_curta{
  margin-top: 10px;
}
#campo_filtro_url_curta{
  border-radius: 8px;
  width: calc(100% - 2px - 10px);
}
#div_filtro_identificador{
  float: left;
  margin-top: 10px;
  margin-right: 20px;
}
@media(max-width: 640px){
  #div_filtro_identificador{
    float: none;
    margin-right: 0px;
  }
}
#campo_filtro_identificador{
  border-radius: 8px;
}
#div_filtro_contador_de_acessos{
  float: left;
  margin-top: 10px;
  margin-right: 20px;
}
@media(max-width: 640px){
  #div_filtro_contador_de_acessos{
    float: none;
    margin-right: 0px;
  }
}
#campo_filtro_contador_de_acessos{
  border-radius: 8px;
}
#div_quantidade_por_pagina{
  float: left;
  margin-top: 10px;
  margin-right: 20px;
}
@media(max-width: 640px){
  #div_quantidade_por_pagina{
    float: none;
    margin-right: 0px;
  }
}
#caixa_de_selecao_quantidade_por_pagina{
  border-radius: 8px;
}
#div_botoes_dos_filtros{
  float: left;
  margin-top: 10px;
}
@media(max-width: 640px){
  #div_botoes_dos_filtros{
    float: none;
  }
}
#botao_buscar{
  display: inline-block;
  vertical-align: top;
}
#botao_limpar{
  display: inline-block;
  margin-left: 15px;
  vertical-align: top;
}

/* Lista de links */
#div_local_da_lista_de_links{
  margin-top: 50px;
}
#h3_titulo_da_lista_de_links{
  margin-bottom: 10px;
  font-size: 0pt;
}
#span_titulo_da_lista_de_links{
  font-size: 15pt;
}
#span_status_da_busca{
  margin-left: 10px;
  font-size: 12pt;
}
#div_paginacao_de_cima_da_lista_de_links{
  text-align: center;
}
@media(max-width: 640px){
  #div_paginacao_de_cima_da_lista_de_links{
    position: relative;
    padding-bottom: 10px;
    font-size: 10.5pt;
    white-space: nowrap;
    overflow: auto;
    z-index: 1;
  }
}
.primeira_pagina,
.primeira_pagina:visited{
  display: inline-block;
  padding: 2px 3px;
  vertical-align: top;
  color: #000090;
}
.primeira_pagina:hover{
  background-color: #484880;
  color: #FFF;
  text-decoration: none;
}
.pagina_anterior,
.pagina_anterior:visited{
  display: inline-block;
  padding: 2px 3px;
  vertical-align: top;
  color: #000090;
}
.pagina_anterior:hover{
  background-color: #484880;
  color: #FFF;
  text-decoration: none;
}
.pagina,
.pagina:visited{
  display: inline-block;
  padding: 2px 3px;
  vertical-align: top;
  color: #000090;
}
.pagina:hover{
  background-color: #484880;
  color: #FFF;
  text-decoration: none;
}
.pagina_selecionada,
.pagina_selecionada:visited{
  display: inline-block;
  padding: 2px 3px;
  vertical-align: top;
  color: #000090;
  text-shadow: 1px 0px 0px #000090;
}
.pagina_selecionada:hover{
  background-color: #484880;
  color: #FFF;
  text-decoration: none;
}
.pagina_seguinte,
.pagina_seguinte:visited{
  display: inline-block;
  padding: 2px 3px;
  vertical-align: top;
  color: #000090;
}
.pagina_seguinte:hover{
  background-color: #484880;
  color: #FFF;
  text-decoration: none;
}
.ultima_pagina,
.ultima_pagina:visited{
  display: inline-block;
  padding: 2px 3px;
  vertical-align: top;
  color: #000090;
}
.ultima_pagina:hover{
  background-color: #484880;
  color: #FFF;
  text-decoration: none;
}
#div_partes_da_lista_de_links{
  border: 1px solid #E0E0F4;
  padding: 0px 8px;
  min-width: calc(100% - 2px - 16px);
  max-width: calc(100% - 2px - 16px);
  background-color: #F0F0FF;
  color: #202020;
  overflow: hidden;
}
#div_parte_url_original_da_lista_de_links{
  float: left;
  padding: 8px 0px;
  min-width: 25%;
  max-width: 25%;
  cursor: pointer;
}
@media(max-width: 850px){
  #div_parte_url_original_da_lista_de_links{
    min-width: 50%;
    max-width: 50%;
  }
}
@media(max-width: 425px){
  #div_parte_url_original_da_lista_de_links{
    float: none;
    min-width: 100%;
    max-width: 100%;
  }
}
#div_parte_url_curta_da_lista_de_links{
  float: left;
  padding: 8px 0px;
  min-width: 25%;
  max-width: 25%;
  cursor: pointer;
}
@media(max-width: 850px){
  #div_parte_url_curta_da_lista_de_links{
    min-width: 50%;
    max-width: 50%;
  }
}
@media(max-width: 425px){
  #div_parte_url_curta_da_lista_de_links{
    float: none;
    min-width: 100%;
    max-width: 100%;
  }
}
#div_parte_identificador_da_lista_de_links{
  float: left;
  padding: 8px 0px;
  min-width: 25%;
  max-width: 25%;
  cursor: pointer;
}
@media(max-width: 850px){
  #div_parte_identificador_da_lista_de_links{
    min-width: 50%;
    max-width: 50%;
  }
}
@media(max-width: 425px){
  #div_parte_identificador_da_lista_de_links{
    float: none;
    min-width: 100%;
    max-width: 100%;
  }
}
#div_parte_contador_de_acessos_da_lista_de_links{
  float: left;
  padding: 8px 0px;
  min-width: 25%;
  max-width: 25%;
  cursor: pointer;
}
@media(max-width: 850px){
  #div_parte_contador_de_acessos_da_lista_de_links{
    min-width: 50%;
    max-width: 50%;
  }
}
@media(max-width: 425px){
  #div_parte_contador_de_acessos_da_lista_de_links{
    float: none;
    min-width: 100%;
    max-width: 100%;
  }
}
.link{
  position: relative;
  margin-top: 10px;
  border: 2px solid #E0E0F4;
  padding: 16px 44px 16px 8px;
  min-width: calc(100% - 4px - 44px - 8px);
  max-width: calc(100% - 4px - 44px - 8px);
}
@media(max-width: 640px){
  .link{
    display: block;
  }
}
.local_das_opcoes_do_item_da_lista{
  position: absolute;
  top: 4px;
  right: 4px;
  min-width: calc(16px + 6px + 16px);
  max-width: calc(16px + 6px + 16px);
}
#link_editar{
  display: inline-block;
  margin-top: -4px;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  background-image: url("../../imagens/icones/bootstrap/pencil.svg");
  cursor: pointer;
}
#link_excluir{
  display: inline-block;
  margin-top: -4px;
  margin-left: 6px;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  background-image: url("../../imagens/icones/bootstrap/x-circle.svg");
  cursor: pointer;
}
.local_da_url_original{
  max-height: 170px;
  word-wrap: break-word;
  word-break: break-all;
  overflow: auto;
}
.local_da_url_curta{
  margin-top: 20px;
  word-wrap: break-word;
  word-break: break-all;
}
.local_do_identificador{
  margin-top: 20px;
  word-wrap: break-word;
  word-break: break-all;
}
.local_do_contador_de_acessos{
  margin-top: 20px;
}
#div_mensagem_quando_nao_ha_links{
  margin-top: 10px;
  border: 2px solid #E0E0F4;
  padding: 22px 8px;
  text-align: center;
}
#div_paginacao_de_baixo_da_lista_de_links{
  text-align: center;
}
@media(max-width: 640px){
  #div_paginacao_de_baixo_da_lista_de_links{
    position: relative;
    padding-bottom: 10px;
    font-size: 10.5pt;
    white-space: nowrap;
    overflow: auto;
    z-index: 1;
  }
}
