body{
  margin: 0px;
  padding: 25px 30px;
  background: #FFF;
  color: #3D3D3D;
  font-family: Verdana, Tahoma, Times New Roman, serif;
  font-size: 12pt;
}
@media(max-width: 640px){
  body{
    padding: 6px;
  }
}
#app{
  display: block;
}

/* Cabeçalho do sistema */
#div_cabecalho_template{
  margin-right: auto;
  margin-left: auto;
  border: 2px solid #E0E0E0;
  padding: 20px;
  width: calc(1660px - 4px - 40px);
  max-width: calc(100% - 4px - 40px);
}
@media(max-width: 640px){
  #div_cabecalho_template{
    padding: 20px 10px;
    max-width: calc(100% - 4px - 20px);
    overflow: auto;
  }
}
#h1_titulo_do_sistema_template{
  padding: 0px 10px;
  min-width: calc(100% - 20px);
  max-width: calc(100% - 20px);
  color: #867AF8;
  text-align: center;
}
@media(max-width: 400px){
  #h1_titulo_do_sistema_template{
    font-size: 18pt;
  }
}
#nav_menu_do_sistema_template{
  margin-top: 20px;
  text-align: center;
}
@media(max-width: 640px){
  #nav_menu_do_sistema_template{
    white-space: nowrap;
  }
}
.item_do_menu_do_sistema,
.item_do_menu_do_sistema:visited{
  display: inline-block;
  margin-left: 40px;
  border: 2px solid #867AF8;
  border-radius: 8px;
  padding: 16px;
  vertical-align: top;
  color: #867AF8;
  letter-spacing: 1px;
  text-shadow: 1px 0px 0px #867AF8;
}
@media(max-width: 640px){
  .item_do_menu_do_sistema,
  .item_do_menu_do_sistema:visited{
    margin-left: 10px;
    padding: 8px;
  }
}
.item_do_menu_do_sistema:hover{
  background-color: #867AF8;
  color: #FFF;
  text-decoration: none;
  text-shadow: 1px 0px 0px #FFF;
}
.item_do_menu_do_sistema:first-child{
  margin-left: 0px;
}

/* Tronco do sistema */
#div_tronco_template{
  margin-right: auto;
  margin-left: auto;
  border-right: 2px solid #E0E0E0;
  border-bottom: 2px solid #E0E0E0;
  border-left: 2px solid #E0E0E0;
  padding: 25px 20px;
  width: calc(1660px - 2px - 2px - 40px);
  max-width: calc(100% - 2px - 2px - 40px);
  min-height: 2000px; /* Será modificada pelo javascript */
  background-color: #FFF;
}
@media(max-width: 640px){
  #div_tronco_template{
    padding: 15px 10px;
    max-width: calc(100% - 2px - 2px - 20px);
  }
}

/* Rodapé do sistema */
#div_rodape_template{
  margin-right: auto;
  margin-left: auto;
  border-right: 2px solid #E0E0E0;
  border-bottom: 2px solid #E0E0E0;
  border-left: 2px solid #E0E0E0;
  padding-top: 25px;
  padding-bottom: 25px;
  width: calc(1660px - 2px - 2px);
  max-width: calc(100% - 2px - 2px);
  background-color: #FFF;
  color: #8070E8;
}
#div_autor_do_sistema_template{
  padding-right: 10px;
  padding-left: 10px;
  text-align: center;
}
@media(max-width: 450px){
  #div_autor_do_sistema_template{
    margin-right: auto;
    margin-left: auto;
    padding-right: 0px;
    padding-left: 0px;
    min-width: 250px;
    max-width: 250px;
  }
}
#div_tecnologias_do_sistema_template{
  padding-right: 10px;
  padding-left: 10px;
  text-align: center;
}
@media(max-width: 450px){
  #div_tecnologias_do_sistema_template{
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 0px;
    padding-left: 0px;
    min-width: 200px;
    max-width: 200px;
  }
}

/* Classes para qualquer tag */
.tag_oculta{
  display: none !important;
}

/* Classes para tags específicas */
.caixa_de_selecao_com_placeholder{
  color: #909090;
}
.caixa_de_selecao_com_placeholder>option{
  color: #3D3D3D;
}

/* Estilos iniciais */
h1, h2, h3, h4, h5, h6{
  margin: 0px;
  font-family: Verdana, Tahoma, Times New Roman, serif;
  font-size: 20pt;
  font-weight: normal;
}
label{
  cursor: text;
}
input[type="text"],
input[type="number"]{
  border: 1px solid #00A800;
  padding: 4px 5px;
  width: calc(212px - 2px - 10px);
  max-width: calc(100% - 2px - 10px);
  color: #3D3D3D;
  font-family: Verdana, Tahoma, Times New Roman, serif;
  font-size: 11pt;
  appearance: none;
  outline: none;
}
input:-webkit-autofill{
  -webkit-box-shadow: 0 0 0px 999px #FFF inset;
}
input[type="text"]:hover,
input[type="text"]:focus,
input[type="number"]:hover,
input[type="number"]:focus{
  border: 2px solid #60B860;
  padding: 3px 3px 3px 5px;
  appearance: none;
  outline: none;
}
input[type="text"]::placeholder,
input[type="number"]::placeholder{
  opacity: 1;
  color: #909090;
}
input[type="submit"],
input[type="reset"],
button{
  border-top: 1px solid #8080C8;
  border-right: 2px solid #8080C8;
  border-bottom: 2px solid #8080C8;
  border-left: 1px solid #8080C8;
  border-radius: 4px;
  padding: 4px 8px 3px 7px;
  background-color: #FFF;
  color: #585890;
  font-family: Tahoma, Verdana, Times New Roman, serif;
  font-size: 11pt;
  cursor: pointer;
}
input[type="submit"]:hover,
input[type="reset"]:hover,
button:hover{
  border-top: 1px solid #8080C8;
  border-right: 2px solid #8080C8;
  border-bottom: 2px solid #8080C8;
  border-left: 1px solid #8080C8;
  background-color: #F0F0FF;
  appearance: none;
  outline: none;
}
input[type="submit"]:focus,
input[type="reset"]:focus,
button:focus{
  border-top: 2px solid #8080C8;
  border-right: 1px solid #8080C8;
  border-bottom: 1px solid #8080C8;
  border-left: 2px solid #8080C8;
  padding: 5px 7px 2px 8px;
  appearance: none;
  outline: none;
}
select{
  border: 1px solid #00A800;
  padding-top: 3px;
  padding-bottom: 4px;
  width: 212px;
  max-width: 100%;
  height: 28px;
  background-color: #FFF;
  color: #3D3D3D;
  font-family: Verdana, Tahoma, Times New Roman, serif;
  font-size: 11pt;
  outline: none;
}
select:hover,
select:focus{
  border: 2px solid #60B860;
  padding-top: 2px;
  padding-bottom: 3px;
  outline: none;
}
a{
  color: #000090;
  text-decoration: none;
  cursor: pointer;
}
a:visited{
  color: #000090;
}
a:hover{
  color: #000090;
  text-decoration: underline;
}
