<script>
import {Head} from "@inertiajs/vue3";

export default{
  props: [
    "template_layout"
  ],
  components: {
    Head
  },
  data(){
    return{
      /* Propriedades obtidas dos controllers precisam ser recolocadas para prevenir o cache do inertia */
      vue_template_layout: this.template_layout,
      
      /* Propriedades novas e seus valores iniciais */
      endereco_do_arquivo_css: "/css/" + this.template_layout.visual_escolhido + "/template_layout.css"
    }
  },
  mounted(){
    const body = document.getElementsByTagName("body")[0];
    const div_app_template = document.getElementById("div_app_template");
    const div_cabecalho_template = document.getElementById("div_cabecalho_template");
    const div_tronco_template = document.getElementById("div_tronco_template");
    
    /* O resize_observer é importante no Vue para detectar quando as larguras e alturas deixarão de ser automáticas. */
    const resize_observer = new ResizeObserver(function(){
      /* Enquanto as larguras e alturas forem automáticas não há como fazer ajustes, por isso retorna. */
      var estilo_computado = window.getComputedStyle(div_app_template);
      if(estilo_computado.height === "auto"){
        return;
      }
      
      /* Ajustando altura do tronco para preencher a parte vertical visível da tela. */
      let altura_minima = window.innerHeight;
      
      var estilo_computado = window.getComputedStyle(body);
      altura_minima -= parseInt(estilo_computado.marginTop, 10);
      altura_minima -= parseInt(estilo_computado.borderTopWidth, 10);
      altura_minima -= parseInt(estilo_computado.paddingTop, 10);
      
      var estilo_computado = window.getComputedStyle(div_cabecalho_template);
      altura_minima -= parseInt(estilo_computado.marginTop, 10);
      altura_minima -= parseInt(estilo_computado.borderTopWidth, 10);
      altura_minima -= parseInt(estilo_computado.paddingTop, 10);
      altura_minima -= parseInt(estilo_computado.height, 10);
      altura_minima -= parseInt(estilo_computado.paddingBottom, 10);
      altura_minima -= parseInt(estilo_computado.borderBottomWidth, 10);
      altura_minima -= parseInt(estilo_computado.marginBottom, 10);
      
      var estilo_computado = window.getComputedStyle(div_tronco_template);
      altura_minima -= parseInt(estilo_computado.marginTop, 10);
      altura_minima -= parseInt(estilo_computado.borderTopWidth, 10);
      altura_minima -= parseInt(estilo_computado.paddingTop, 10);
      altura_minima -= parseInt(estilo_computado.paddingBottom, 10);
      altura_minima -= parseInt(estilo_computado.borderBottomWidth, 10);
      altura_minima -= parseInt(estilo_computado.marginBottom, 10);
      
      div_tronco_template.style.minHeight = altura_minima + "px";
    }.bind(this));
    
    resize_observer.observe(div_app_template);
  }
}
</script>

<template>
  <Head>
    <link :href="endereco_do_arquivo_css" type="text/css" rel="stylesheet"/>
  </Head>
  
  <div id="div_cabecalho_template">
    <h1 id="h1_titulo_do_sistema_template">
      <span>Teste da Clínica Experts</span>
    </h1>
    <nav id="nav_menu_do_sistema_template">
      <div id="div_opcoes_do_menu_do_sistema_template">
        <a class="item_do_menu_do_sistema" href="/encurtador_de_links" title="Encurtador de Links">Encurtador de Links</a>
        <a class="item_do_menu_do_sistema" href="/lista_de_links" title="Lista de Links">Lista de Links</a>
      </div>
    </nav>
  </div>
  <div id="div_tronco_template">
    <slot name="conteudo"></slot>
  </div>
  <div id="div_rodape_template">
    <div id="div_autor_do_sistema_template">
      <span>Este sistema foi feito por Rodrigo Diniz da Silva.</span>
    </div>
    <div id="div_tecnologias_do_sistema_template">
      <span>Este sistema usa PHP, Laravel, Vue e Inertia.</span>
    </div>
  </div>
</template>
